<div class="container">
  <% if @item_type == 'ingredient' %>
    <%= link_to 'Ingredient (Store)', new_inventory_path(:item_type => @item_type), {:class => "btn btn-outline-secondary btn-sm"} %><br><br>
    <% background = 'bg-success' %>
  <% else %>
    <%= link_to 'Packaging (Store)', new_inventory_path(:item_type => @item_type), {:class => "btn btn-outline-secondary btn-sm"} %><br><br>
    <% background = 'bg-secondary' %>
  <% end %>
  
  <% @child.each_with_index do | i, index | %>
    <% raw_data = (i.remaining_stock / i.maximum_stock) * 100.round(2) %>
    <% unit_count = i.remaining_stock.to_s + ' ' + i.unit %>
    <% data = raw_data.to_s + '%' %>
    <% index += 1 %>
    <% index = index.to_s %>
    <% id_target = 'prog-' + index.to_s %>
  
    <% if i.remaining_stock <= i.margin %>
      <% bg = 'bg-danger' %>
    <% else %>
      <% bg = background %>
    <% end %> 
    
    <div class="container" style="padding-left: 0%;">
      <div>
        <strong><%= link_to i.name, inventory_path(i), method: 'get' %></strong>
      </div>
      <div class="progress">
        <% if i.remaining_stock < 1 %>
          <div id=<%= id_target %> <%= bg %> role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
        <% else %>
          <div id=<%= id_target %> class="progress-bar <%= bg %>" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"><%= unit_count %></div>
        <% end %>
      </div>
    </div>  
  

    <style>
      :root {
      --data: <%= data %>;
      --index: <%= index %>;
      --child_count: <%= @child.length %>;
      }
    </style>

    <script>
      var css_root = document.querySelector(':root');
      var css_data = getComputedStyle(css_root);
        
      var data = css_data.getPropertyValue('--data');
      var index = css_data.getPropertyValue('--index');
      var child_count = css_data.getPropertyValue('--child_count')
      
      data_arr.push(data)
      num_in_js_format = Number(index)
      id_arr.push(num_in_js_format)

      if (child_count == num_in_js_format) render_data(data_arr, id_arr);
    </script> 
  <% end %>
</div>

  