<div class="container">
  <% item_type = @parent.first.item_type %>

  <% if item_type.include?('ingredient') %>
    <%= link_to 'Ingredient 2', new_inventory_path(:item_type => item_type), {:class => "btn btn-outline-secondary btn-sm"} %><br><br>
    <% background = 'bg-success' %>
  <% else %>
    <%= link_to 'Packaging 2', new_inventory_path(:item_type => item_type), {:class => "btn btn-outline-secondary btn-sm"} %><br><br>
    <% background = 'bg-secondary' %>
  <% end %>

  <% @parent.each_with_index do | i, index | %>

    <% raw_data = (i.remaining_stock / i.current_stock) * 100.round(2) %>
    <% unit_count = i.remaining_stock.to_s + ' ' + i.unit %>
    <% data = raw_data.to_s + '%' %>
    <% index += @child.length + 1 %>
    <% index = index.to_s %>
    <% id_target = 'prog-' + index.to_s %>
  
    <% if raw_data > 50 %>
      <% bg = background %>
    <% elsif raw_data <= 25 %>
      <% bg = 'bg-danger' %>
    <% else %>
      <% bg = 'bg-warning' %>
    <% end %>
    
    <div class="container" style="padding-left: 0%;">
      <div>
        <strong><%= link_to i.name, inventory_path(i), method: 'get' %></strong>
      </div>
      <div class="progress">
        <% if i.remaining_stock < 1 %>
          <div id=<%= id_target %> <%= bg %> role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"></div>
        <% else %>
          <div id=<%= id_target %> class="progress-bar <%= bg %>" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100"><%= unit_count %></div>
        <% end %>
      </div>
    </div>

    <style>
      :root {
      --data: <%= data %>;
      --index: <%= index %>;
      --parent_count: <%= @parent.length + @child.length %>;
      }
    </style>

    <script>
      var css_root = document.querySelector(':root');
      var css_data = getComputedStyle(css_root);
        
      var data = css_data.getPropertyValue('--data');
      var index = css_data.getPropertyValue('--index');
      var parent_count = css_data.getPropertyValue('--parent_count')

      data_arr.push(data)
      num_in_js_format = Number(index)
      id_arr.push(num_in_js_format)

      if (parent_count == num_in_js_format) render_data(data_arr, id_arr);
    </script> 
  <% end %>
</div>
  