<% tagged_products = [] %>
<%= form_for :inventory_items, url: inventory_path(@item), method: 'patch' do |f| %>
    <% @item.products.each { |p| tagged_products << p.name } %>
 
    <strong>tag <em style="color: rgb(132, 236, 132);"><%= @item.name %></em> to:</strong><br>
    <div class="container">
      <%= f.collection_check_boxes(:product_ids, Product.all.order(:name), :id, :name) do |prod| %>
        <div class="form-check">
           <%= prod.check_box(class: "form-check-input", checked: tagged_products.include?(prod.object.name) )%>
           <%= prod.label(class: "form-check-label") %>
        </div>
      <% end %>
    </div>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>