<div>
  <div style="float: left;">
    <%= link_to 'Ingredients', chart_path(:item_type => 'ingredient'), {:class => "btn btn-outline-secondary btn-sm", method: 'get'} %>
  </div>
  <div style="float: left; margin-left:30px">
    <%= link_to 'Packagings', chart_path(:item_type => 'packaging'), {:class => "btn btn-outline-secondary btn-sm", method: 'get'} %>
  </div>
</div><br><br>

<table class="table" style="font-style: italic; color:brown">
  <thead>
    <tr>
      <td>Item</td>
      <td>Last Update</td>
      <td>End</td>
    </tr>
  </thead>
  
  <tbody>
    <% hash = {} %>
    <% InventoryItem.all.each do |item| %>
      <% expectation = expected_exhaustion(item).round %>
      <% next if expectation > 6 %>
      <% hash.store(item, expectation) %>
    <% end %>

    <% hash.sort_by(&:last).reverse.each do |a, b| %>
      <tr>
        <td><%= link_to a.name, inventory_path(a), method: 'get' %></td>

        <td><%= a.last_restock.strftime('%b. %d') %></td>
        
        <td><%= get_day(b) %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
