<h3>Add Inventory Item</h3>

<%= form_for :inventory_items, url: inventories_path, method: 'post' do |f| %>
  <p>
    <%= f.label 'item name' %><br>
    <%= f.text_field :name %>
  </p>
  
  <div>
    <div style="display:inline-block">
      <%= f.label 'current stock' %><br>
      <%= f.number_field :current_stock, step: :any %>
    </div>
    <div style="display:inline-block">
      <%= f.label 'unit measure' %><br>
      <%= f.text_field :unit, placeholder: 'pieces, dozens, packs, g, kg' %>
    </div>
  </div><br>
  
  <div class="container">
    <strong>Tag Item to:</strong><br>
    <%= f.collection_check_boxes(:product_ids, Product.all.order(:name), :id, :name) do |prod| %>
      <div class="form-check">
        <%= prod.check_box(class: "form-check-input") %>
        <%= prod.label(class: "form-check-label") %>
      </div>
    <% end %>
  </div><br>

  <%= f.hidden_field :item_type, value: @item_type %>
 
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>