<h3>Add Inventory Item</h3>

<%= form_for :inventory_items, url: inventories_path, method: 'post' do |f| %>
  <p>
    <%= f.label 'item name' %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'current stock' %><br>
    <%= f.number_field :current_stock, step: :any %>
    <%= f.select :unit, ['pieces', 'cans', 'bottles'] %>
  </p>
  <p>
    <strong>Tag Item to:</strong><br>
    <div class="container">
      <%= f.collection_check_boxes(:product_ids, Product.all.order(:name), :id, :name) do |prod| %>
        <div class="form-check">
          <%= prod.check_box(class: "form-check-input") %>
          <%= prod.label(class: "form-check-label") %>
        </div>
      <% end %>
    </div>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>