<div class="container center">
  <h3 style="color: rgb(111, 240, 25);">
    <strong><%= link_to @item.name, edit_inventory_path(@item) %></strong>
  </h3>
  
  <p class="inv-sections">
    <em style="font-style: italic; color:chocolate">stock: </em>
    <%= @item.remaining_stock %> / <%= @item.maximum_stock %>&nbsp<%= @item.unit %>
  </p>
  
  <p class="inv-sections">
    <em style="font-style: italic; color:chocolate">tagged_products:</em><br>
    <% @item.products.each do |prod| %>
      <% join = item_join(prod, @item) %>
      
      <em><%= prod.name %> <em style="color: red;"></em>=><%= link_to join.subtractive, edit_order_path(join) %></em><br>
    <% end %>
  </p>
  
  <hr>
  
  <%= form_for :inventory_items, url: inventory_path, method: 'patch' do |f| %>
    <p>
      <%= f.number_field :remaining_stock, step: :any, value: @item.remaining_stock, required: 'required' %>
      <%= f.submit "Update Stock" %>
    </p>
  <% end %><br>
</div>
    