<% last_six =  @records.where.not(sales: 0).order(created_at: :desc).first(6) %>
<% no_sales =  @today.nil? || @today.sales.zero? %>

<div>
  <div style="float:left">
   <h4><%= no_sales ? 'No sales for today' : 'Today' %></h4>
  </div>
  <div style="float:right">
    <%= link_to 'Add Sale', new_sale_path, method: 'get' %>
  </div>
</div>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% unless no_sales %>
      <tr style="border: black;">
        <td><%= link_to @today.created_at.strftime('%b %e, %a'), show_record_path(@today), method: 'get' %></td>
        <td><h4><strong><%= @today.sales %></strong></h4></td>
      </tr>
    <% end %>
    
    <% last_six.each do |day| %>
      <tr>
        <td>
          <%= link_to day.created_at.strftime('%b %e, %a'), show_record_path(day), method: 'get' %><br>
        </td>
        <td>
          <%= day.sales %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
