<% total = @record.sales %>
<% sold_items = @record.items.group_by(&:itself).values %>

<h3><%= @record.created_at.strftime('%b %e, %a') %></h3>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% sold_items.each do |item| %>
    <% product = Product.find_by(id: item[0]) %>
    <% count = item.count %>
      <tr>
        <td>
          <%= product.name %>
        </td>
        <td>
          X <%= count %>
        </td>
        <td>
          <%= count * product.price %>
        </td>
      </tr>
    <% end %>
      <tr style="color:brown;">
        <td>Total</td>
        <td></td>
        <td><%= total %></td>
      </tr>
  </tbody>
</table>