<% all_items = arrange(@records) %>
<% sold_items = all_items.group_by(&:itself).values %>

<%= form_tag('/records', method: :get) do %>
  <p>
    <em style="font-style: italic; color:sienna">start:</em><br> 
    <%= date_field_tag(:start, @begin_date, class: 'form-control') %>
  </p>
  
  <p>
    <em style="font: italic; color:sienna">end:</em><br>
    <%= date_field_tag(:end, @end_date, class: 'form-control') %>
  </p>

  <p>
    <%= submit_tag 'Check Records'%>
  </p>
<% end %>

<hr style="margin-bottom: 50px;">

<table class="table" style="font-style: italic; margin-bottom: 50px; color:forestgreen">
  <h4 style="font-style: italic; color:forestgreen"><strong>Sales (<%= readable(@begin_date) %> - <%= readable(@end_date) %>)</strong></h4>
  <thead>
    <tr>
      <th>Date</th>
      <th>Sales</th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.created_at.strftime('%b %e, %a') %></td>
        <td><%= record.sales %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td><strong><%= @records.sum(:sales) %></strong></td>
    </tr>
  </tfoot>
</table>

<table class="table" style="font-style: italic; margin-bottom: 100px; color:mediumslateblue">
  <h4 style="font-style: italic; color:mediumslateblue"><strong>Sold Items (<%= readable(@begin_date) %> - <%= readable(@end_date) %>)</strong></h4>
  <thead>
    <tr>
      <th>Product</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% sold_items.each do |item| %>
      <% product = Product.find_by(name: item[0]) %>
      <% count = item.count %>

      <% next if false_category(product) %>
      
      <tr>
        <td><%= product.name %></td>
        <td>x <%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
