<h3>Add Packaging</h3>

<%= form_for :packagings, url: packagings_path do |f| %>
  <p>
    <%= f.label 'packaging name' %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'current stock' %><br>
    <%= f.number_field :current_stock, step: :any %>
    <%= f.select :unit, ['pieces', 'packs', 'dozens'] %>
  </p>
  <p>
    <strong>Tag packaging to:</strong><br>
    <div class="container">
      <%= f.collection_check_boxes :product_ids, @products.all, :id, :name, multiple: true %>
    </div>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>