<div class="container center">
    <%= form_for :packagings, url: packaging_path, method: 'patch' do |f| %>
      <h3 style="color: rgb(111, 240, 25);">
        <strong><%= @packaging.name %></strong>
        <%= link_to '[x]', packaging_path(@packaging), method: 'delete', data: {confirm: 'Are you sure you want to delete this packaging?'}%>
      </h3>
      
      <p class="inv-sections">
        <em>current_stock:</em><br>
        <%= @packaging.remaining_stock %> / <%= @packaging.current_stock %><%= @packaging.unit %>
      </p>
      <p class="inv-sections">
        <em>tagged_products:</em><br>
        <% @packaging.products.each do |p| %>
          <%= p.name %><br>
        <% end %>
      </p>
      <hr>
          <p>
            <%= f.number_field :additional, step: :any, placeholder: 'raise stock' %>
            <%= f.submit "RAISE"%>
          </p>
          <p>
            <%= f.number_field :subtractive, step: :any, placeholder: 'lessen stock' %>
            <%= f.submit "LESSEN"%>
          </p>
        <% end %>
        <br>
    </div>
  </div>