<% suff = '' %>
<% if local_assigns.has_key? :identifier %>
  <% suff += identifier.to_s %>
<% end %>


<% multi_id = ('multi' + suff) %>
<% prod_id = ('prod' + suff) %>
<% price_id = ('price' + suff) %>
<% total_id = ('total' + suff) %>


<tr>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  
  <td>
    <%= f.input :product, label: false, collection: Product.all.order(:name), input_html: {id: prod_id} %><br>
  </td>
    
  <td id= <%= price_id %> ></td>
    
  <td>
    <%= f.number_field :multiplier, :id => multi_id, min: 0, max: 99 %>
  </td>
  
  <td id= <%= total_id %> + suff></td>
</tr>


<script>
  document.getElementById('<%= multi_id %>').addEventListener('click', function() {
    var queryString = Number(document.getElementById('<%= prod_id %>').value) - 1;
    var queryCount = document.getElementById('<%= multi_id %>').value;
    var total = '<%= @products %>'.slice(1, -1).split(',');
    var price = total[queryString];
    
   if (queryString > -1) {
     document.getElementById('<%= price_id %>').innerHTML = price
   };
    
     document.getElementById('<%= total_id %>').innerHTML = (price * queryCount)
  });
</script>
