<script>
  $(document).on(function () {
    $('.js-example-basic-single').select2();
  });
</script>

<%= simple_form_for(@sale) do |f| %>
  <%= f.error_notification %>
  
  <table class='table'>
    
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th>Price</th>
        <th>Count</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody class='fields'>
      <%= f.simple_fields_for :items do |builder| %>
        <%= render 'sale', f: builder %>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <div style="float: left";>
      <%= link_to_add_row('Add Item', f, :items, class: 'btn btn-primary') %>
    </div>
    <div style="float: right;">
      <%= f.button(:submit, class: 'btn btn-primary btn-success')%>
    </div>
  </div>
<% end %>

<script>
  document.getElementById('multi').addEventListener('click', function() {
    var queryString = Number(document.getElementById('prod').value) - 1;
    var queryCount = document.getElementById('multi').value;
    var total = '<%= @products %>'.slice(1, -1).split(',');
    var price = total[queryString];
    
   if (queryString > -1) {
     document.getElementById('price').innerHTML = price
   };
    
     document.getElementById('total').innerHTML = (price * queryCount)
  });
</script>