<% items = {} %>
<% price = [] %>
<% item_is_selected = !@order_items.nil? %>
<% disable = { disable_with: "Please wait..." } %>
<% order_item_is_placed = @total > 0  %>

<div class="parent-container d-flex" id="parent">
  <div class="container" id='cont-links'>
    <div>
      <% if item_is_selected %>
        <% @order_items.each do |product| %>
          <p class="prod-links">
            <%= link_to product.name, orders_path(product), data: disable  %>
          </p><br>
          
          <% items.store(product.name, product.multiplier) %>
          <% price << product.price %>
        <% end %>
      <% end %>

      <div>
        <% @products.each do |product| %>
          <p class="prod-links">
            <%= link_to product.name, orders_path(product), data: disable %>
          </p><br>
        <% end %>
      </div>
    </div>
  </div>
  
  <div id = 'order-builder' class="container">
    <% if order_item_is_placed %>
      <div class="container" id='builder'>
        <p class="bldr-row-1">
          Sale #<%= @sale_number %>
        </p>
      
        <hr class="solid-line">
      
        <div class="parent_container d-flex">
          <div class="container" class="orders" >
            <% items.keys.each do |name|%>
              <p class="bldr-row-1">
                <%= name %>
              </p>
            <% end %>
            <strong><p class="bldr-row-1">TOTAL</p></strong>
          </div>
        
          <div class="container" id="orders">
            <% items.values.each_with_index do |multiplier, index|%>
              <% sub_total = price[index] * multiplier %>
            
              <p>X<%= multiplier %>&nbsp&nbsp&nbsp&nbsp<%= sub_total %></p>
            <% end %>
          
            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to @total, alter_total_path, method: 'get'  %></p>
          </div>
        </div>
        
        <hr class="solid-line" style="margin-top: 0%; margin-bottom: 30px;">
      </div>
    
      <div class="sale-buttons">
        <%= button_to "Discard", discard_path, method: 'get', class: "btn-outline-primary btn-sm" %>
      </div>
      <div class="sale-buttons">
        <%= button_to 'Confirm Order', sales_path, method: 'post', class: "btn-outline-primary btn-sm" %>
      </div>
    <% end %>
  </div>
  