
<%= simple_form_for(@sale) do |f| %>
  <%= f.error_notification %>
  
  <table class='table'>
    
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th>Price</th>
        <th>Count</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody class='fields'>
      <%= f.simple_fields_for :items do |builder| %>
        <%= render 'item', identifier: 0, f: builder %>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <div id="new_item" style="float: left";>
      <%= link_to_add_row('Add Item', f, :items, class: 'btn btn-primary') %>
    </div>
    <div style="float: right;">
      <%= f.button(:submit, class: 'btn btn-primary btn-success')%>
    </div>
  </div>
<% end %>


<script>
  document.getElementById('new_item').addEventListener('click', function() {
    
  })
</script>