<%= simple_form_for(@sale) do |f| %>
  <%= f.error_notification %>
  
  <div>
    <div style="width:91%; float:left; padding-right:4px">
      <%= f.input :note, label: false, :input_html => {:rows => 1, :columns => 5}, placeholder: 'Add note here...'%>
    </div>
    <div style="width: 9%; float:left">
      <%= f.input(:edited_total, label: false, as: :string, input_html: {id: 'edited-total'}, components: [:input], :wrapper => false )%>
    </div>
  </div>
  
  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th></th>
        <th>Count</th>
        <th></th>
        <th style="text-align: right;">Price</th>
      </tr>
    </thead>
    
    <tbody class='fields'>
      <%= f.simple_fields_for :items do |builder| %>
        <%= render 'item', identifier: 8417290001825, f: builder %>
      <% end %>
    </tbody>
  </table>

  <div id='grand-total' style="text-align: right;">0</div>
  
  <div class="form-actions">
    <div id="new_item" style="float: left;">
      <%= link_to_add_row('Add Item', f, :items, class: 'btn btn-primary') %>
    </div>
    
    <div style="float: right;">
      <%= f.button(:submit, class: 'btn btn-primary btn-success') %>
    </div>
  </div>
<% end %>

<script>
   document.getElementById('new_item').addEventListener('click', function() {
     document.querySelectorAll('.multiplier').forEach(e => e.remove());
   });
   
   document.getElementById('edited-total').addEventListener('click', function() {
     this.value = showTotal();
   });
</script>
