<% prod_total = [] %>
<% if current_user.username == 'jenny' %>
<div><h4 style="text-align:left"><%= link_to '[X]', sale_path(@sale), method: 'delete', data: {confirm: 'are you sure you want to delete this sale?'} %></h4></div>
<% end %>

<div class="container" id="main-receipt">
  <h4 style="margin-left: 35%; margin-top: 15px">Ma'donna</h4>
  <%= Date.today.strftime("%B %d, %Y") %><br>Sale #<%= @sale.sale_number %>
  <% unless @sale.note.nil? || @sale.note.blank? %>
    <br><em class="receipt-texts">Note: <%= @sale.note %></em>
  <% end %>
  <p class="dot-lines">........................................................................................</p>
  <div class="parent-container d-flex">
    <div class="container">
      <% @sale.sale_phrase.each do |sale| %>
        <% product,price,multiplier,total = sale.split('$') %>
        <% prod_total << (price.to_f * multiplier.to_i) %>
        <p class="receipt-texts"><%= product %><br><%= multiplier %>&nbsp X &nbsp<%= price %></p><br>
      <% end %>
    </div>
    <div class="container">
      <% prod_total.each do |t| %>
        <p class="receipt-texts" style="text-align:right"><%= t %><br><br></p><br>
      <% end %>
    </div>
</div>
    <p class="dot-lines">........................................................................................</p>
    <div class="parent-container d-flex" style="margin-bottom: 20px;">
        <div class="container"><strong>TOTAL</strong></div>
        <% if @sale.edited_total.nil? %>
          <div class="container" style="text-align: right;"><%= @sale.total %></div>
        <% else %>
          <% if @sale.total == @sale.edited_total %>
            <div class="container" style="text-align: right;"><%= @sale.total %></div>
          <% else %>
            <div class="container" style="text-align: right;"><em style=" text-decoration: line-through;"><%= @sale.total %></em><br><%= @sale.edited_total %></div>
          <% end %>
        <% end %>
    </div>
</div>

<% unless current_user.username == 'jenny' %>
<div class="container" style="margin-left: 31%; margin-top: 15px">
<%= form_for :sales, url: sale_path(@sale), method: 'patch' do |f| %>
  <p>
   <%= f.label 'notify admin:' %><br>
   <%= f.text_field :admin_notice %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
</div>
<% end %>
<% if !@sale.admin_notice.nil? && current_user.username == 'jenny' %>
  <p style="font-style: italic;"> notice: <%= @sale.admin_notice %></p>
<% end %>