<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div>
      <%= link_to  'Ma\'Donna Delicacies', root_path, {:class=>"navbar-brand"} %>
    </div>
     
    <div>
      <div id= "main-menu">
        <% if current_user %>
          <%= render 'layouts/primary_links' %>
          
          <%= render 'layouts/secondary_links' %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<%= javascript_include_tag 'hamburger', 'data-turbolinks-track' => true %>